<!DOCTYPE html>
<html>
	<head>
		<title>pingme</title>
	</head>
	<style>
		#content {
			width: 600px;
			margin: 10px auto;
		}
	</style>
	<body>
		<div id="content">
			<h1>Pingme</h1>
			<p>
				Pingme is a service that reminds you of things. Just send or forward an email to
				<code>pingme-2013-01-01@functor.sk</code> or <code>pingme-2013-01-01-1400@functor.sk</code>
				and it will return to you at the time you specified in the address.
			</p>
			<p>
				Note that the punctuation after the <code>pingme-</code> prefix is left completely up to you
				&mdash; it is erased during processing so you can use any time/date delimiters you want. The only
				thing you need to keep is the ordering of the numbers: YYYY, MM, DD[, hh, mm].
			</p>
		</div>
	</body>
</html>